<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <appSettings>
    <add key="_CODAPP" value="SEPOLY1901" />
    <add key="NRO_REGISTROS" value="10" />
    <add key="MAX_REGISTROS" value="5" />
  </appSettings>

  <connectionStrings>

    <!--Conexiones DESARROLLO-->
    <!--PELIMDB02-->
    <!--<add name="PolyIntranetBDConn" connectionString="Data Source=PELIMDP02;Initial Catalog=PolyIntranetBD;User ID=sa;Password=filasur.099" providerName="System.Data.SqlClient" />
    <add name="CorpSeguridadBDConn" connectionString="Data Source=PELIMDP02;Initial Catalog=CorpSeguridadBD;User ID=sa;Password=filasur.099" providerName="System.Data.SqlClient" />-->
    
    <!--192.168.10.236-->
    <!--<add name="ExactusConValida" connectionString="Data Source=192.168.10.236;Initial Catalog=Exactus;User ID={0};Password={1}" providerName="System.Data.SqlClient" />
    <add name="ExactusConn" connectionString="Data Source=192.168.10.236;Initial Catalog=Exactus;User ID=sa;Password=filasur.099" providerName="System.Data.SqlClient" />-->

    <!--Conexiones PRODUCCION-->
    
    <!--PELIMBD03-->
    <add name="PolyIntranetBDConn" connectionString="Data Source=192.168.10.120;Initial Catalog=PolyIntranetBD;User ID=sa;Password=sql.2020" providerName="System.Data.SqlClient" />
    <add name="CorpSeguridadBDConn" connectionString="Data Source=192.168.10.120;Initial Catalog=CorpSeguridadBD;User ID=sa;Password=sql.2020" providerName="System.Data.SqlClient" />
    
    <!--PELIMBD01-->
    <add name="ExactusConValida" connectionString="Data Source=192.168.10.120;Initial Catalog=Exactus;User ID={0};Password={1}" providerName="System.Data.SqlClient" />
    <add name="ExactusConn" connectionString="Data Source=192.168.10.120;Initial Catalog=Exactus;User ID=sa;Password=sql.2008" providerName="System.Data.SqlClient" />    
    
  </connectionStrings>

  <system.web>    
    <globalization culture="es-PE" uiCulture="es-PE" />

    <authentication mode="Forms">
      <forms name=".AUTHGLOBALCORPO" loginUrl="Login.aspx" defaultUrl="Views/Envasadoras.aspx" protection="All" path="/" timeout="3600" />
    </authentication>

    <sessionState cookieless="false" mode="InProc" timeout="3600"></sessionState>

    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>

    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824"/>

  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISoftEmpAcceso" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.10.16/ServicioWeb/SoftEmpAcceso.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoftEmpAcceso"
        contract="AccesoService.ISoftEmpAcceso" name="BasicHttpBinding_ISoftEmpAcceso" />
    </client>
  </system.serviceModel>
</configuration>